$linkhormal: #39c;
$linkhover: #94c;
$cardborder: #f4f4f4;
$commentline: #c2c2c2;
$addcomment: #a3f4b7;
$logosize: 1650;

@media only screen and (min-width:960px){
  /* styles for browsers larger than 960px; */
  .main-container {
    margin: 0;
    height: 100vh;
    display: flex;

    @media only screen and (min-width:960px){
      /* styles for browsers larger than 960px; */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          bottom: 0;
          left: 0;
          width: 22%;
          height: auto;
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }
    @media only screen and (min-width:1440px){
      /* styles for browsers larger than 1440px; */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          border-top-right-radius: 8px;
          bottom: 0;
          left: 0;
          width: 22%;
          height: auto;
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }
    @media only screen and (max-device-width:480px){
      /* styles for mobile browsers smaller than 480px; (iPhone) */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          bottom: 0;
          left: 0;
          width: 40%;
          height: auto;
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }
    @media only screen and (max-device-width:768px){
      /* default iPad screens */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          bottom: 100%;
          left: 0;
          width: 15%;
          height: auto;
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }

  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 130px white inset !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
    background-color: white !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  .flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  h1 {
    text-align: center;
  }

  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 380px;
  }

  .drawer {


    top: 0 !important;
    bottom: $logosize*0.15 px !important;
    width: 40% !important;


  }

  .card-media {
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
      height: 100%;
      min-width: 50%;
      float: top;
    }
  }

  .cardList {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    display: flex;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
    border: solid $cardborder;
    * {
      padding: 10px;
      flex: 1 100%;
    }

    h1 {
      border-bottom: solid $cardborder;
      padding: 20px 0 5px 0;
      margin: 5px;
      text-align: center;
    }

    .cardContainer {
      display: flex;
      height: 33%;
      .cardImage, .pAndButtons {
        width: 50%;
        display: inline-flex;
      }
      .cardImage {
        width: 150px;
        overflow: hidden;
        justify-content: center;
        img {
          object-fit: contain;
          max-height: 33vh;
        }
      }
      .pAndButtons {
        flex-direction: column;
      }
      .buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        div {
          line-height: normal;
          text-align: center;
          padding: 5px;
        }
      }
    }
  }

  .commentDialog {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    font-weight: bold;

    .commentBox {
      padding: 10px;
      margin: 5px;

      .addCommentButton {
        background: $addcomment !important;
        display: inline-block !important;
      }

    }

    h3 {
      border-bottom: solid $cardborder;
      padding: 5px;
      margin: 5px;
      text-align: center;
    }

    .comment {
      padding: 5px;
      margin: 10px;
      border: solid $cardborder;
      .username {
        text-align: right;
        padding: 5px;
      }
      p {
        padding: 5px;
      }

      h1 {
        border-bottom: solid $cardborder;
        border-left: solid $cardborder;
        border-right: solid $cardborder;
        font-size: inherit;
        text-align: center;
      }
    }
  }

  .title {
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 1px;
    border-radius: 2px 2px 0 0;
  }

  .description {
    display: flex;
    height: auto;
    margin: 1px;

    .photo {
      display: inline-block;
      width: 50%;
      height: 50%;
      border-radius: 2px 2px 0 0;
    }
    .text {
      margin: 10px auto auto 10px;
      display: inline-block;
      font-size: 18px;
      width: 50%;
      height: 100%;
    }
  }

  .cards {
    width: 60%;
    float: right;
    padding-right: 8.8%;

    input {
      width: 99.5%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
      border-radius: 2px;
      margin: 10px auto;
      text-align: center;
      border: solid $cardborder;
      height: 30px;
    }
  }

  .formBox {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: solid $cardborder;
    width: 40%;
  }

  .nav-bar-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

}
@media only screen and (min-width:1440px){
  /* styles for browsers larger than 1440px; */
  .main-container {
    margin: 0;
    height: 100vh;
    display: flex;

    @media only screen and (min-width:960px){
      /* styles for browsers larger than 960px; */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          bottom: 0;
          left: 0;
          width: 22%;
          height: auto;
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }
    @media only screen and (min-width:1440px){
      /* styles for browsers larger than 1440px; */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          border-top-right-radius: 8px;
          bottom: 0;
          left: 0;
          width: 22%;
          height: auto;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }
    @media only screen and (max-device-width:480px){
      /* styles for mobile browsers smaller than 480px; (iPhone) */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          border-top-right-radius: 8px;
          bottom: 0;
          left: 0;
          width: 40%;
          height: auto;
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }
    @media only screen and (max-device-width:768px){
      /* default iPad screens */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          border-top-right-radius: 8px;
          bottom: 100%;
          left: 0;
          width: 15%;
          height: auto;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }

  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 130px white inset !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
    background-color: white !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  .flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  h1 {
    text-align: center;
  }

  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 380px;
  }

  .drawer {


    top: 0 !important;
    bottom: $logosize*0.15 px !important;
    width: 40% !important;


  }

  .card-media {
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
      height: 100%;
      min-width: 50%;
      float: top;
    }
  }

  .cardList {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    display: flex;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
    border: solid $cardborder;
    * {
      padding: 10px;
      flex: 1 100%;
    }

    h1 {
      border-bottom: solid $cardborder;
      padding: 20px 0 5px 0;
      margin: 5px;
      text-align: center;
    }

    .cardContainer {
      display: flex;
      height: 33%;
      .cardImage, .pAndButtons {
        width: 50%;
        display: inline-flex;
      }
      .cardImage {
        width: 150px;
        overflow: hidden;
        justify-content: center;
        img {
          object-fit: contain;
          max-height: 33vh;
        }
      }
      .pAndButtons {
        flex-direction: column;
      }
      .buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        div {
          line-height: normal;
          text-align: center;
          padding: 5px;
        }
      }
    }
  }

  .commentDialog {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    font-weight: bold;

    .commentBox {
      padding: 10px;
      margin: 5px;

      .addCommentButton {
        background: $addcomment !important;
        display: inline-block !important;
      }

    }

    h3 {
      border-bottom: solid $cardborder;
      padding: 5px;
      margin: 5px;
      text-align: center;
    }

    .comment {
      padding: 5px;
      margin: 10px;
      border: solid $cardborder;
      .username {
        text-align: right;
        padding: 5px;
      }
      p {
        padding: 5px;
      }

      h1 {
        border-bottom: solid $cardborder;
        border-left: solid $cardborder;
        border-right: solid $cardborder;
        font-size: inherit;
        text-align: center;
      }
    }
  }

  .title {
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 1px;
    border-radius: 2px 2px 0 0;
  }

  .description {
    display: flex;
    height: auto;
    margin: 1px;

    .photo {
      display: inline-block;
      width: 50%;
      height: 50%;
      border-radius: 2px 2px 0 0;
    }
    .text {
      margin: 10px auto auto 10px;
      display: inline-block;
      font-size: 18px;
      width: 50%;
      height: 100%;
    }
  }

  .cards {
    width: 60%;
    float: right;
    padding-right: 8.8%;

    input {
      width: 99.5%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
      border-radius: 2px;
      margin: 10px auto;
      text-align: center;
      border: solid $cardborder;
      height: 30px;
    }
  }

  .formBox {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: solid $cardborder;
    width: 40%;
  }

  .nav-bar-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

}
@media only screen and (max-device-width:480px){
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  .main-container {
    margin: 0;
    height: 100vh;
    display: flex;

    @media only screen and (min-width:960px){
      /* styles for browsers larger than 960px; */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          bottom: 0;
          left: 0;
          width: 22%;
          height: auto;
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }
    @media only screen and (min-width:1440px){
      /* styles for browsers larger than 1440px; */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          border-top-right-radius: 8px;
          bottom: 0;
          left: 0;
          width: 22%;
          height: auto;
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }
    @media only screen and (max-device-width:480px){
      /* styles for mobile browsers smaller than 480px; (iPhone) */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          bottom: 0;
          left: 0;
          width: 40%;
          height: auto;
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }
    @media only screen and (max-device-width:768px){
      /* default iPad screens */
      header {
        float: left;
        position: fixed;
        width: 270px;

        a {
          color: $linkhormal;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            color: $linkhover;
          }
        }
      }

      .navbar-container {
        position: fixed;
        float: left;
        bottom: 0;
        .logo {
          bottom: 100%;
          left: 0;
          width: 15%;
          height: auto;
        }
      }

      .content-container {
        position: absolute;
        top: 0;
        margin: 0;
        height: 100vh;
        width: 100%;
        align-self: flex-end;
      }
    }

  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 130px white inset !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
    background-color: white !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  .flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  h1 {
    text-align: center;
  }

  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 380px;
  }

  .drawer {


    top: 0 !important;
    bottom: $logosize*0.15 px !important;
    width: 40% !important;


  }

  .card-media {
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
      height: 100%;
      min-width: 50%;
      float: top;
    }
  }

  .cardList {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    display: flex;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
    border: solid $cardborder;
    * {
      padding: 10px;
      flex: 1 100%;
    }

    h1 {
      border-bottom: solid $cardborder;
      padding: 20px 0 5px 0;
      margin: 5px;
      text-align: center;
    }

    .cardContainer {
      display: flex;
      height: 33%;
      .cardImage, .pAndButtons {
        width: 50%;
        display: inline-flex;
      }
      .cardImage {
        width: 150px;
        overflow: hidden;
        justify-content: center;
        img {
          object-fit: contain;
          max-height: 33vh;
        }
      }
      .pAndButtons {
        flex-direction: column;
      }
      .buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        div {
          line-height: normal;
          text-align: center;
          padding: 5px;
        }
      }
    }
  }

  .commentDialog {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    font-weight: bold;

    .commentBox {
      padding: 10px;
      margin: 5px;

      .addCommentButton {
        background: $addcomment !important;
        display: inline-block !important;
      }

    }

    h3 {
      border-bottom: solid $cardborder;
      padding: 5px;
      margin: 5px;
      text-align: center;
    }

    .comment {
      padding: 5px;
      margin: 10px;
      border: solid $cardborder;
      .username {
        text-align: right;
        padding: 5px;
      }
      p {
        padding: 5px;
      }

      h1 {
        border-bottom: solid $cardborder;
        border-left: solid $cardborder;
        border-right: solid $cardborder;
        font-size: inherit;
        text-align: center;
      }
    }
  }

  .title {
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 1px;
    border-radius: 2px 2px 0 0;
  }

  .description {
    display: flex;
    height: auto;
    margin: 1px;

    .photo {
      display: inline-block;
      width: 50%;
      height: 50%;
      border-radius: 2px 2px 0 0;
    }
    .text {
      margin: 10px auto auto 10px;
      display: inline-block;
      font-size: 18px;
      width: 50%;
      height: 100%;
    }
  }

  .cards {
    width: 60%;
    float: right;
    padding-right: 8.8%;

    input {
      width: 99.5%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
      border-radius: 2px;
      margin: 10px auto;
      text-align: center;
      border: solid $cardborder;
      height: 30px;
    }
  }

  .formBox {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: solid $cardborder;
    width: 40%;
  }

  .nav-bar-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

}
@media only screen and (max-device-width:768px){
  /* default iPad screens */
  .main-container {
    margin: 0;
    height: 100vh;
    display: flex;

    /* default iPad screens */
    header {
      float: left;
      position: fixed;
      width: 270px;

      a {
        color: $linkhormal;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          color: $linkhover;
        }
      }
    }

    .navbar-container {
      position: fixed;
      float: left;
      bottom: 0;
      .logo {
        bottom: 0;
        left: 0;
        width: 15%;
        height: auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .content-container {
      position: absolute;
      top: 0;
      margin: 0;
      height: 100vh;
      width: 100%;
      align-self: flex-end;
    }
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 130px white inset !important;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
    background-color: white !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  .flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .flex-login-email{
      width: 200px !important;
    }
    .flex-login-password{
      width: 200px !important;
    }
    .flex-register-email{
      width: 200px !important;
    }
    .flex-register-password{
      width: 200px !important;
    }
    .flex-register-repassword{
      width: 200px !important;
    }
  }

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
  }

  h1 {
    text-align: center;
  }

  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 380px;
  }

  .drawer {


    top: 0 !important;
    bottom: $logosize*0.15 px !important;
    width: 40% !important;


  }

  .card-media {
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
      vertical-align: middle;
      object-fit: cover;
      height: 100%;
      min-width: 50%;
      float: left;
    }
  }

  .cardList {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    position: relative;
    left: 20px;
    width: 80%;
    display: flex;
    font-weight: bold;
    text-align: center;
    flex-direction: column;
    border: solid $cardborder;
    * {
      padding: 2px;
      flex: 1 100%;
    }

    h1 {
      font-size: 20px;
      border-bottom: solid $cardborder;
      padding: 5px 0 5px 0;
      margin: 5px;
      text-align: center;
    }

    .cardContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 33%;
      .cardImage, .pAndButtons {
        width: 95%;
        display: inline-flex;
      }
      .cardImage {
        width: 200px;
        overflow: hidden;
        justify-content: center;
        img {
          object-fit: contain;
          max-height: 33vh;
        }
      }
      .pAndButtons {
        font-size: 12px;
        flex-direction: column;
      }
      .buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 2px, auto;
        div {
          line-height: normal;
          text-align: center;
          padding: 5px;
        }
      }
    }
  }

  .commentDialog {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    font-weight: bold;

    .commentBox {
      padding: 10px;
      margin: 5px;

      .addCommentButton {
        background: $addcomment !important;
        display: inline-block !important;
      }

    }

    h3 {
      border-bottom: solid $cardborder;
      padding: 5px;
      margin: 5px;
      text-align: center;
    }

    .comment {
      padding: 5px;
      margin: 10px;
      border: solid $cardborder;
      .username {
        text-align: right;
        padding: 5px;
      }
      p {
        padding: 5px;
      }

      h1 {
        border-bottom: solid $cardborder;
        border-left: solid $cardborder;
        border-right: solid $cardborder;
        font-size: inherit;
        text-align: center;
      }
    }
  }

  .title {
    font-size: 22px;
    font-weight: 400;
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 1px;
    border-radius: 2px 2px 0 0;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 1px;

    .photo {
      display: inline-block;
      width: 75%;
      height: auto;
      margin-top: 5px;
      border-radius: 2px 2px 0 0;
    }
    .text {
      margin: 10px auto auto 10px;
      display: inline-block;
      font-size: 12px;
      width: 95%;
      height: 100%;
    }
  }

  .cards {
    width: 84%;
    float: right;
    padding-right: 8.8%;

    input {
      width: 99.5%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
      border-radius: 2px;
      margin: 10px auto;
      text-align: center;
      border: solid $cardborder;
      height: 30px;
    }
  }

  .formBox {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px auto;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border: solid $cardborder;
    width: 40%;
  }

  .nav-bar-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
  }

}

